.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #f0f2f5;
}

.wysiwyg-editor {
    min-height: 150px;
    border: 1px solid #eee;
    padding: 0 10px;
}